---
layout: default
---
  <div class="home">
    <div class="posts">
    <hr>
    <ul>
      <center><h1> {{page.full_title}} </h1></center>
      {% for category in site.categories %}
      {% assign title = category | first %}
      {% if page.title == title %}
      {% for posts in category %}
      {% for post in posts %}
      {% if post.url %}

      <div class="post-teaser">
      <header>
        <a class="title" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
    </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% endif %}
      {% endfor %}
    </ul>
    </div>
  </div>
